body {
  background-image: url("/img/matrixbackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px;
  color: #222;
}

h1 {
  text-align: center;
  background: white;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  color: #070c07;
}
h2{
  text-align: center;
  margin: auto;
  background: white;
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  color: #070c07;


}

#load-section {
  background: white;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

#load-section input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #bbb;
}

#load-section button {
  width: 100%;
  background: #070c07;
  color: white;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

#item-form {
  background: white;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

#item-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #bbb;
}

#item-form button {
  width: 100%;
  background: #070c07;
  color: white;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

#item-form button:hover {
  background: #030303;
}

table {
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background: #070c07;
  color: white;
}

tr:hover {
  background: #f0f8f1;
}

.delete-btn {
  padding: 6px 10px;
  background: #22e311;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #216b18;
}